
.planeholder{
        width:99.9%;
	height:700px;
	position:relative;
	overflow:hidden;
	z-index:3;
}


	.plain {	
background-image:url(' https://raw.githubusercontent.com/diamondrolls/images/main/B5F60EAD-E37B-4236-A2F1-6241EE051639.png');
            position:absolute;
        background-repeat:no-repeat;
      z-index:500;
	background-size:100% 100%;
        height: 1000px;
	width: 100%;

            }
.plane1{
background-color:rgb(0,0,0);
    border-style:inset;
     border-color:rgb(0,255,255);
position:absolute;
      z-index:509;
	background-size:150px 25px;
        height:25px;
	width:150px;
	left:700px;
	top:600px;
	animation: kitty 5s infinite alternate;
        -webkit-animation: kitty 5s infinite alternate;
} 
/* Safari 4.0 - 8.0 */
@-webkit-keyframes kitty{
 0% { transform:rotateX(0deg);}
100% { transform:rotateX(360deg);}
}

@keyframes  kitty{
0% { transform:rotateX(0deg);}
100% { transform:rotateX(360deg);}
}

	  
html {
	height:1200px;
		width:100%;
	overflow:scroll;
}


h2{
	font-size:20px;
	text-align:left;
	color:#white;
}
h8{
	font-size:20px;
	text-align:left;
	color:#blue;
}
h9{
	font-size:20px;
	text-align:left;
	color:#red;
}


.neon
{
  position:absolute;
  top:10%;
  left:25%;
	translate:transform (-50%,-50%);
	margin:0;
	padding:0 20px;
	font-size:45px;
	color:#34ccff;
	text-shadow:0 0 20px;
}
.neon:after
{
	top:0;
	left:0;
	content:attr(data-text);
	position:absolute;
	padding:0 0 20px;
	z-index:-1;
	color:#34ccff;
	filter:blur(15px);
}
.neon:before
{
	content:" ";
	top:0;
	left:0;
	position:absolute;
	background:#34ccff;
	z-index:-3;
	opacity:.5;
	filter:blur(40px);
}
h7{
background-color:rgb(0,0,0);
}

		  
		   ul {
	   top:15%;
         float:left;
       list-style: none;
        position:absolute;
	z-index:30;
    }

ul li {
position:relative;
    font-size:20px;
    font-family: ariel;
    text-align:center;
    }


.lied:hover {
    float:none;
    background-color:aqua; 
    }

ul li ul li {
    display: none;
position:relative;
}
ul li:hover ul li {
z-index:999;
width:99%;
height:99%;
    display: block;
Position:relative;
}

body{   background-image:url(" https://media.tenor.com/qe0yvYn14jUAAAAM/loop-hyper.gif");

	background-size:100% 1200px;
        overflow:hidden;   
	 width:100%;
	 height:1200px;
	 		

           }
