
.planeholder{
        z-index:-200px;
	position:absolute;
	 height:800px;
	width:100%;
	top:100px;
	animation: kitty 5s infinite alternate;
        -webkit-animation: kitty 5s infinite alternate;
}

    .twod{
      top:70px;
      left:250px;
   background-image:url("https://raw.githubusercontent.com/diamondrolls/images/main/52E55257-1663-463B-BBAB-2FD33441C052.png");    
    position:absolute;
	background-size:100px 200px;
        height:200px;
	width:100px;
	    z-index:200px;
	    transform: translateZ(-200px);
     }
.mouth{
	border-color:rgb(255,255,255);
	border-style:outset;
        height:2px;
	width:50px;
	top:20px;
	transform: translateZ(235px);
	position:relative;
}


.lilfacebook{
      padding-top:75px;
      background-image:url(" https://raw.githubusercontent.com/diamondrolls/images/main/E9AC7D7F-1545-446B-83D9-61F6574D98D8.png");    
     position:absolute;
      background-repeat:no-repeat;
	background-size:100px 200px;
        height:200px;
	width:100px;
	top:100px;
        left:400px;
	       float:left;
	 z-index:200px;
	       transform: translateZ(235px);
}
.plane1{
background-image:url("https://raw.githubusercontent.com/diamondrolls/images/main/5A3397CE-4193-4B6B-9A56-897543975D23.png");    
position:relative;
	background-size: 500px 300px;
        height:300px;
	width:500px;
	top:150px;
        transform: translateZ(-240px);
        left:150px;
	
} 
/* Safari 4.0 - 8.0 */
@-webkit-keyframes kitty{
 0% { 
       top:100px;
       
       }
100% { 
        top:300px;
           
          }
}

@keyframes kitty{ 
 0% { 
       top:100px;
       
       }
100% { 
        top:300px;
           
          }
        }
	.ufo {
    position:relative;
    top:500px;
    width:15px;
    left:200px;
border-radius:50%;
    background-color:rgba(255,255,255,.5);
    height:15px;
    overflow:hidden;
    z-index:99;
    animation:stars 7s infinite alternate;
       -webkit-animation: stars 7s infinite alternate;/* Safari 4.0 - 8.0 */
}
     
.ufo2 {
    position:relative;
    left:700px;
    top:700px;
    width:15px;
border-radius:50%;
    background-color:rgba(255,255,255,.5);
    height:15px;
    overflow:hidden;
    z-index:99;
    animation:stars2 5s infinite alternate;
       -webkit-animation: stars2 5s infinite alternate;/* Safari 4.0 - 8.0 */
}


.ufo3 {
    position:relative;
    left:200px;
    top:200px;
    width:15px;
    border-radius:50%;
    background-color:rgba(255,255,255,.5);	
    height:15px;
    overflow:hidden;
    z-index:99;
    animation:stars 20s infinite alternate;
       -webkit-animation: stars 20s infinite alternate;/* Safari 4.0 - 8.0 */
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes stars{
 0% { left:0px;
       }
100% { left:900px;}
  
}
		  
@keyframes  stars{
0% { left:0px;
       }
100% { left:900px;}
  
}  

html {
	height:1200px;
		width:100%;
	overflow:scroll;
}


h2{
	font-size:20px;
	text-align:left;
	color:#white;
}
h8{
	font-size:20px;
	text-align:left;
	color:#blue;
}
h9{
	font-size:20px;
	text-align:left;
	color:#red;
}


.neon
{
  position:absolute;
  top:10%;
  left:25%;
	translate:transform (-50%,-50%);
	margin:0;
	padding:0 20px;
	font-size:45px;
	color:#34ccff;
	text-shadow:0 0 20px;
}
.neon:after
{
	top:0;
	left:0;
	content:attr(data-text);
	position:absolute;
	padding:0 0 20px;
	z-index:-1;
	color:#34ccff;
	filter:blur(15px);
}
.neon:before
{
	content:" ";
	top:0;
	left:0;
	position:absolute;
	background:#34ccff;
	z-index:-3;
	opacity:.5;
	filter:blur(40px);
}
h7{
background-color:rgb(0,0,0);
}

		  
		   ul {
	   top:15%;
         float:left;
       list-style: none;
        position:absolute;
	z-index:30;
    }

ul li {
position:relative;
    font-size:20px;
    font-family: ariel;
    text-align:center;
    }


.lied:hover {
    float:none;
    background-color:aqua; 
    }

ul li ul li {
    display: none;
position:relative;
}
ul li:hover ul li {
z-index:999;
width:99%;
height:99%;
    display: block;
Position:relative;
}

body{   
	background-image:url(" https://images.radio.com/aiu-media/GettyImages1195199589-6a30dfb5-3ac8-4f48-957d-b2f95225b978.jpg");
	background-size:100% 1000px;
        overflow:hidden;   
	 width:100%;
	 height:1000px;
           }
